In [1]:
#dependencies
from pathlib import Path
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd
from datetime import datetime

Main_csv_path = Path("Resources/18100205.csv")
Metadata_csv_path = Path("Resources/18100205_MetaData.csv")

Main_StatsCan_IndexDF = pd.read_csv(Main_csv_path, encoding="UTF-8-Sig")
Metadata_DF = pd.read_csv(Metadata_csv_path, encoding="UTF-8-Sig")

Main_StatsCan_IndexDF.tail()

,REF_DATE,GEO,DGUID,New housing price indexes,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
61075,2023-05,"Vancouver, British Columbia",2011S0503933,House only,"Index, 201612=100",347,units,0,v111955557,39.2,126.4,NaN,NaN,NaN,1
61076,2023-05,"Vancouver, British Columbia",2011S0503933,Land only,"Index, 201612=100",347,units,0,v111955558,39.3,121.0,E,NaN,NaN,1
61077,2023-05,"Victoria, British Columbia",2011S0503935,Total (house and land),"Index, 201612=100",347,units,0,v111955559,40.1,121.9,NaN,NaN,NaN,1
61078,2023-05,"Victoria, British Columbia",2011S0503935,House only,"Index, 201612=100",347,units,0,v111955560,40.2,127.9,NaN,NaN,NaN,1
61079,2023-05,"Victoria, British Columbia",2011S0503935,Land only,"Index, 201612=100",347,units,0,v111955561,40.3,110.6,E,NaN,NaN,1

In [2]:
Metadata_DF.head()

,Cube Title,Product Id,CANSIM Id,URL,Cube Notes,Archive Status,Frequency,Start Reference Period,End Reference Period,Total number of dimensions
"New housing price index, monthly",18100205,327-0056,https://www150.statcan.gc.ca/t1/tbl1/en/tv.act...,1;2;3;13;14,CURRENT - a cube available to the public and t...,Monthly,1981-01-01,2023-05-01,2.0,NaN
Dimension ID,Dimension name,Dimension Notes,Dimension Definitions,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Geography,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,New housing price indexes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dimension ID,Member Name,Classification Code,Member ID,Parent Member ID,Terminated,Member Notes,Member Definitions,NaN,NaN,NaN

In [3]:
# Select necessary columns for initial data cleaning processes.
reduced_main_df = Main_StatsCan_IndexDF[["REF_DATE","GEO","New housing price indexes","UOM","VALUE","STATUS","DECIMALS"]]		

#Rename columns for code readability.

reduced_main_renamed_df =reduced_main_df.rename(columns={"New housing price indexes": "NewHousePrice_Index_Type" })

#Initial Rename Approach Below:
#reduced_main_df.columns.values[2] = "NewHousePrice_Index_Type" 
#Replaced column name of "New housing price indexes".

reduced_main_renamed_df.tail()

,REF_DATE,GEO,NewHousePrice_Index_Type,UOM,VALUE,STATUS,DECIMALS
61075,2023-05,"Vancouver, British Columbia",House only,"Index, 201612=100",126.4,NaN,1
61076,2023-05,"Vancouver, British Columbia",Land only,"Index, 201612=100",121.0,E,1
61077,2023-05,"Victoria, British Columbia",Total (house and land),"Index, 201612=100",121.9,NaN,1
61078,2023-05,"Victoria, British Columbia",House only,"Index, 201612=100",127.9,NaN,1
61079,2023-05,"Victoria, British Columbia",Land only,"Index, 201612=100",110.6,E,1

In [4]:
#Validate the data types within our reduced_main_renamed_df
#Confirms that we can split the object columns as text.

reduced_main_renamed_df.dtypes

REF_DATE                     object
GEO                          object
NewHousePrice_Index_Type     object
UOM                          object
VALUE                       float64
STATUS                       object
DECIMALS                      int64
dtype: object

In [5]:
#Create VAR of column as a series to add an index to each row in preparation of split text by Delimiter function.

Orig_Geo_series = pd.Series(reduced_main_df["GEO"]) #TEST of Initial Output via => print(Orig_Geo_series)

#SPLIT data by delimiter 
Geo_Split = Orig_Geo_series.str.split(',')

#Fetch by column index the first part of the original VAR column.
Geo_CityRow = Geo_Split.str.get(0) #access the first element for eventual "column1"

print(Geo_CityRow)

0                 Canada
1                 Canada
2                 Canada
3        Atlantic Region
4        Atlantic Region
              ...
61075          Vancouver
61076          Vancouver
61077           Victoria
61078           Victoria
61079           Victoria
Name: GEO, Length: 61080, dtype: object

In [6]:
#Fetch by column index the second part of the original VAR column.
Geo_ProvRow = Geo_Split.str.get(1) #access the first element for eventual "column2"

print(Geo_ProvRow)

0                      NaN
1                      NaN
2                      NaN
3                      NaN
4                      NaN
               ...
61075     British Columbia
61076     British Columbia
61077     British Columbia
61078     British Columbia
61079     British Columbia
Name: GEO, Length: 61080, dtype: object

In [7]:
#Leverage pd.series() index on Original DF column to join the delimited data back together.
#Accomplished by the usage of "axis=1"

Manual_Merge_Geo = pd.concat([Geo_CityRow,Geo_ProvRow], axis=1) #axis=1 is using "column 1" to merge. Being the column created by pd.series() + #TEST of Initial Output via => print(Manual_Merge_Geo)

#Rename Columns from both duplicating "GEO" using the column index.
#Column Index Approach and Rename Options presented via => https://www.geeksforgeeks.org/rename-specific-columns-in-pandas/
#Team decision => BEST PRACTICE TO RENAME RIGHT AWAY "HERE" ... to save coding time later.
Manual_Merge_Geo.columns.values[0] = "City_Region"
Manual_Merge_Geo.columns.values[1] = "Province"

print(Manual_Merge_Geo)

           City_Region           Province
0               Canada                NaN
1               Canada                NaN
2               Canada                NaN
3      Atlantic Region                NaN
4      Atlantic Region                NaN
...                ...                ...
61075        Vancouver   British Columbia
61076        Vancouver   British Columbia
61077         Victoria   British Columbia
61078         Victoria   British Columbia
61079         Victoria   British Columbia

[61080 rows x 2 columns]

In [8]:
#Create VAR of column as a series to add an index to each row in preparation of split text by Delimiter function.
Orig_Year_series = pd.Series(reduced_main_df["REF_DATE"])

#SPLIT data by delimiter 
Year_Split = Orig_Year_series.str.split('-')

#Fetch by column index the second part of the original VAR column.
Row_Year = Year_Split.str.get(0) #access the first element for eventual "column1"
Row_Month = Year_Split.str.get(1) #access the second element for eventual "column2"

#REMOVED BELOW as a script test. These outputs end up "inserting to row#1 (as index=0)" ... rather than naming the column as expected.
#Row_Year.values[0] = "Year"  #NOTE => 
#Row_Month.values[0] = "Month" #NOTE => 

print(Row_Year)
print(Row_Month)

0        1981
1        1981
2        1981
3        1981
4        1981
         ...
61075    2023
61076    2023
61077    2023
61078    2023
61079    2023
Name: REF_DATE, Length: 61080, dtype: object
0        01
1        01
2        01
3        01
4        01
         ..
61075    05
61076    05
61077    05
61078    05
61079    05
Name: REF_DATE, Length: 61080, dtype: object

In [9]:
#Leverage initial pd.series() index on Original DF column to join the delimited data back together.
#Accomplished by the usage of "axis=1"

Manual_Merge_date = pd.concat([Row_Year,Row_Month], axis=1) #axis=1 is using "column 1" to merge.

#Rename Columns from both duplicating "GEO" using the column index.
#Column Index Approach and Rename Options presented via => https://www.geeksforgeeks.org/rename-specific-columns-in-pandas/
#Team decision => BEST PRACTICE TO RENAME RIGHT AWAY "HERE" ... to save coding time later.
Manual_Merge_date.columns.values[0] = "Year"
Manual_Merge_date.columns.values[1] = "Month"

#KEY REMINDER ... if we need the month to be transformed into "1" intstead of "01" (IE: INT from TEXT/VARCHAR) ... here is probably the best place as well.

print(Manual_Merge_date)

       Year Month
0      1981    01
1      1981    01
2      1981    01
3      1981    01
4      1981    01
...     ...   ...
61075  2023    05
61076  2023    05
61077  2023    05
61078  2023    05
61079  2023    05

[61080 rows x 2 columns]

In [10]:
#via => https://appdividend.com/2020/06/02/pandas-concat-method-example-in-python/
#JOIN Split GEO Columns to Original DF
GeoUpdated_DF = pd.concat([reduced_main_renamed_df,Manual_Merge_Geo],axis=1,join='outer') # ,join_axes=None,ignore_index=False)
print(GeoUpdated_DF)

#JOIN Split Year+Month Columns to GeoUpdated_DF
DateUpdated_DF = pd.concat([GeoUpdated_DF,Manual_Merge_date],axis=1,join='outer')
print(DateUpdated_DF)

      REF_DATE                          GEO NewHousePrice_Index_Type  \
0      1981-01                       Canada   Total (house and land)
1      1981-01                       Canada               House only
2      1981-01                       Canada                Land only
3      1981-01              Atlantic Region   Total (house and land)
4      1981-01              Atlantic Region               House only
...        ...                          ...                      ...
61075  2023-05  Vancouver, British Columbia               House only
61076  2023-05  Vancouver, British Columbia                Land only
61077  2023-05   Victoria, British Columbia   Total (house and land)
61078  2023-05   Victoria, British Columbia               House only
61079  2023-05   Victoria, British Columbia                Land only

                     UOM  VALUE STATUS  DECIMALS      City_Region  \
0      Index, 201612=100   38.2    NaN         1           Canada
1      Index, 201612=100   36.1    NaN         1           Canada
2      Index, 201612=100   40.6      E         1           Canada
3      Index, 201612=100    NaN     ..         1  Atlantic Region
4      Index, 201612=100    NaN     ..         1  Atlantic Region
...                  ...    ...    ...       ...              ...
61075  Index, 201612=100  126.4    NaN         1        Vancouver
61076  Index, 201612=100  121.0      E         1        Vancouver
61077  Index, 201612=100  121.9    NaN         1         Victoria
61078  Index, 201612=100  127.9    NaN         1         Victoria
61079  Index, 201612=100  110.6      E         1         Victoria

                Province
0                    NaN
1                    NaN
2                    NaN
3                    NaN
4                    NaN
...                  ...
61075   British Columbia
61076   British Columbia
61077   British Columbia
61078   British Columbia
61079   British Columbia

[61080 rows x 9 columns]
      REF_DATE                          GEO NewHousePrice_Index_Type  \
0      1981-01                       Canada   Total (house and land)
1      1981-01                       Canada               House only
2      1981-01                       Canada                Land only
3      1981-01              Atlantic Region   Total (house and land)
4      1981-01              Atlantic Region               House only
...        ...                          ...                      ...
61075  2023-05  Vancouver, British Columbia               House only
61076  2023-05  Vancouver, British Columbia                Land only
61077  2023-05   Victoria, British Columbia   Total (house and land)
61078  2023-05   Victoria, British Columbia               House only
61079  2023-05   Victoria, British Columbia                Land only

                     UOM  VALUE STATUS  DECIMALS      City_Region  \
0      Index, 201612=100   38.2    NaN         1           Canada
1      Index, 201612=100   36.1    NaN         1           Canada
2      Index, 201612=100   40.6      E         1           Canada
3      Index, 201612=100    NaN     ..         1  Atlantic Region
4      Index, 201612=100    NaN     ..         1  Atlantic Region
...                  ...    ...    ...       ...              ...
61075  Index, 201612=100  126.4    NaN         1        Vancouver
61076  Index, 201612=100  121.0      E         1        Vancouver
61077  Index, 201612=100  121.9    NaN         1         Victoria
61078  Index, 201612=100  127.9    NaN         1         Victoria
61079  Index, 201612=100  110.6      E         1         Victoria

                Province  Year Month
0                    NaN  1981    01
1                    NaN  1981    01
2                    NaN  1981    01
3                    NaN  1981    01
4                    NaN  1981    01
...                  ...   ...   ...
61075   British Columbia  2023    05
61076   British Columbia  2023    05
61077   British Columbia  2023    05
61078   British Columbia  2023    05
61079   British Columbia  2023    05

[61080 rows x 11 columns]

In [11]:
#Select newly merged columns and reorder untouched columns from the initial reduced_main_renamed_df and our new concat DFs to establish a DF for Analysis purposes.

Analysis_DF = DateUpdated_DF[["Year","Month","City_Region","Province","NewHousePrice_Index_Type","UOM","VALUE","STATUS","DECIMALS"]]

Analysis_DF

,Year,Month,City_Region,Province,NewHousePrice_Index_Type,UOM,VALUE,STATUS,DECIMALS
0,1981,01,Canada,NaN,Total (house and land),"Index, 201612=100",38.2,NaN,1
1,1981,01,Canada,NaN,House only,"Index, 201612=100",36.1,NaN,1
2,1981,01,Canada,NaN,Land only,"Index, 201612=100",40.6,E,1
3,1981,01,Atlantic Region,NaN,Total (house and land),"Index, 201612=100",NaN,..,1
4,1981,01,Atlantic Region,NaN,House only,"Index, 201612=100",NaN,..,1
...,...,...,...,...,...,...,...,...,...
61075,2023,05,Vancouver,British Columbia,House only,"Index, 201612=100",126.4,NaN,1
61076,2023,05,Vancouver,British Columbia,Land only,"Index, 201612=100",121.0,E,1
61077,2023,05,Victoria,British Columbia,Total (house and land),"Index, 201612=100",121.9,NaN,1
61078,2023,05,Victoria,British Columbia,House only,"Index, 201612=100",127.9,NaN,1
61079,2023,05,Victoria,British Columbia,Land only,"Index, 201612=100",110.6,E,1

In [12]:
#Remove "junk data" columns from the Analysis DF based on StatsCan Legend and our analysis needs.

StatusClean_Analysis_DF = Analysis_DF.query("STATUS not in ['E', 'x', '..']") #QUERY fuction delivers to python "memory" a "true/false" outcome. Via URL => https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html

TotalPriceIndex_Analysis_DF = StatusClean_Analysis_DF.query("NewHousePrice_Index_Type not in ['House only','Land only']")

TotalPriceIndex_Analysis_DF

,Year,Month,City_Region,Province,NewHousePrice_Index_Type,UOM,VALUE,STATUS,DECIMALS
0,1981,01,Canada,NaN,Total (house and land),"Index, 201612=100",38.2,NaN,1
9,1981,01,St. John's,Newfoundland and Labrador,Total (house and land),"Index, 201612=100",36.1,NaN,1
27,1981,01,Saint John,Fredericton,Total (house and land),"Index, 201612=100",55.9,NaN,1
33,1981,01,Québec,Quebec,Total (house and land),"Index, 201612=100",30.1,NaN,1
42,1981,01,Montréal,Quebec,Total (house and land),"Index, 201612=100",28.5,NaN,1
...,...,...,...,...,...,...,...,...,...
61065,2023,05,Edmonton,Alberta,Total (house and land),"Index, 201612=100",108.2,NaN,1
61068,2023,05,British Columbia,NaN,Total (house and land),"Index, 201612=100",127.0,NaN,1
61071,2023,05,Kelowna,British Columbia,Total (house and land),"Index, 201612=100",123.8,NaN,1
61074,2023,05,Vancouver,British Columbia,Total (house and land),"Index, 201612=100",127.8,NaN,1
61077,2023,05,Victoria,British Columbia,Total (house and land),"Index, 201612=100",121.9,NaN,1

In [13]:
#Esablish list of cities to be filtered from the TotalPriceIndex_Analysis_DF
desired_cities = ['Toronto', 'Vancouver', 'Montréal']

#Create empty array to enable Dictionary to be populated with data from Established list of cities.
filtered_city_data = {}

#Iterate through the TotalPriceIndex_Analysis_DF['City_Region] column with established list of cities.
for city in desired_cities:
    city_filtered_df = TotalPriceIndex_Analysis_DF[TotalPriceIndex_Analysis_DF['City_Region'] == city]

#Place iterated/fetched list from TotalPriceIndex_Analysis_DF['City_Region] column into city_filtered_df
    filtered_city_data[city] = city_filtered_df

# Review Expected Output by transforming items within the array/dictionary to Print the data for all cities and break print() output up for user readability.
for city, city_df in filtered_city_data.items():
    print(f"Data for {city}:")
    print(city_df)
    print("\n")

Data for Toronto:
       Year Month City_Region  Province NewHousePrice_Index_Type  \
57     1981    01     Toronto   Ontario   Total (house and land)
177    1981    02     Toronto   Ontario   Total (house and land)
297    1981    03     Toronto   Ontario   Total (house and land)
417    1981    04     Toronto   Ontario   Total (house and land)
537    1981    05     Toronto   Ontario   Total (house and land)
...     ...   ...         ...       ...                      ...
60537  2023    01     Toronto   Ontario   Total (house and land)
60657  2023    02     Toronto   Ontario   Total (house and land)
60777  2023    03     Toronto   Ontario   Total (house and land)
60897  2023    04     Toronto   Ontario   Total (house and land)
61017  2023    05     Toronto   Ontario   Total (house and land)

                     UOM  VALUE STATUS  DECIMALS
57     Index, 201612=100   28.0    NaN         1
177    Index, 201612=100   28.5    NaN         1
297    Index, 201612=100   29.8    NaN         1
417    Index, 201612=100   31.2    NaN         1
537    Index, 201612=100   32.3    NaN         1
...                  ...    ...    ...       ...
60537  Index, 201612=100  115.6    NaN         1
60657  Index, 201612=100  115.2    NaN         1
60777  Index, 201612=100  115.2    NaN         1
60897  Index, 201612=100  115.2    NaN         1
61017  Index, 201612=100  115.1    NaN         1

[509 rows x 9 columns]


Data for Vancouver:
       Year Month City_Region           Province NewHousePrice_Index_Type  \
114    1981    01   Vancouver   British Columbia   Total (house and land)
234    1981    02   Vancouver   British Columbia   Total (house and land)
354    1981    03   Vancouver   British Columbia   Total (house and land)
474    1981    04   Vancouver   British Columbia   Total (house and land)
594    1981    05   Vancouver   British Columbia   Total (house and land)
...     ...   ...         ...                ...                      ...
60594  2023    01   Vancouver   British Columbia   Total (house and land)
60714  2023    02   Vancouver   British Columbia   Total (house and land)
60834  2023    03   Vancouver   British Columbia   Total (house and land)
60954  2023    04   Vancouver   British Columbia   Total (house and land)
61074  2023    05   Vancouver   British Columbia   Total (house and land)

                     UOM  VALUE STATUS  DECIMALS
114    Index, 201612=100   90.5    NaN         1
234    Index, 201612=100   92.2    NaN         1
354    Index, 201612=100   92.2    NaN         1
474    Index, 201612=100   91.8    NaN         1
594    Index, 201612=100   91.8    NaN         1
...                  ...    ...    ...       ...
60594  Index, 201612=100  127.7    NaN         1
60714  Index, 201612=100  127.6    NaN         1
60834  Index, 201612=100  127.6    NaN         1
60954  Index, 201612=100  127.6    NaN         1
61074  Index, 201612=100  127.8    NaN         1

[509 rows x 9 columns]


Data for Montréal:
       Year Month City_Region Province NewHousePrice_Index_Type  \
42     1981    01    Montréal   Quebec   Total (house and land)
162    1981    02    Montréal   Quebec   Total (house and land)
282    1981    03    Montréal   Quebec   Total (house and land)
402    1981    04    Montréal   Quebec   Total (house and land)
522    1981    05    Montréal   Quebec   Total (house and land)
...     ...   ...         ...      ...                      ...
60522  2023    01    Montréal   Quebec   Total (house and land)
60642  2023    02    Montréal   Quebec   Total (house and land)
60762  2023    03    Montréal   Quebec   Total (house and land)
60882  2023    04    Montréal   Quebec   Total (house and land)
61002  2023    05    Montréal   Quebec   Total (house and land)

                     UOM  VALUE STATUS  DECIMALS
42     Index, 201612=100   28.5    NaN         1
162    Index, 201612=100   28.8    NaN         1
282    Index, 201612=100   29.0    NaN         1
402    Index, 201612=100   29.3    NaN         1
522    Index, 201612=100   29.7    NaN         1
...                  ...    ...    ...       ...
60522  Index, 201612=100  151.7    NaN         1
60642  Index, 201612=100  151.7    NaN         1
60762  Index, 201612=100  151.7    NaN         1
60882  Index, 201612=100  152.5    NaN         1
61002  Index, 201612=100  152.5    NaN         1

[509 rows x 9 columns]

In [14]:
#Extract sample data to validate that the STATUS not in funciton above was successful and to store within the Repo as a data source.

#Establish Path VARs to enable Output produced to be mapped correctly within the Repo.
Output_Folder = 'Output/'
Output_file = Output_Folder + 'city_filtered_df.csv'

# Concatenate the 3 city filtered dataframes from the desired list of cities and reset the index of the output.
combined_data = pd.concat(filtered_city_data.values(), ignore_index=True)

# Save the 3 combined city_filtered_data dataframes into a single CSV file
combined_data.to_csv(Output_file, index=False, encoding='utf-8-sig') # for "Montréal" producing issues ... ref for variation in export encoding https://stackoverflow.com/questions/57152985/what-is-the-difference-between-utf-8-and-utf-8-sig

In [15]:
#Validate output for Notebook user.
Final_City_Filtered_DF = combined_data
print(Final_City_Filtered_DF)

      Year Month City_Region  Province NewHousePrice_Index_Type  \
0     1981    01     Toronto   Ontario   Total (house and land)
1     1981    02     Toronto   Ontario   Total (house and land)
2     1981    03     Toronto   Ontario   Total (house and land)
3     1981    04     Toronto   Ontario   Total (house and land)
4     1981    05     Toronto   Ontario   Total (house and land)
...    ...   ...         ...       ...                      ...
1522  2023    01    Montréal    Quebec   Total (house and land)
1523  2023    02    Montréal    Quebec   Total (house and land)
1524  2023    03    Montréal    Quebec   Total (house and land)
1525  2023    04    Montréal    Quebec   Total (house and land)
1526  2023    05    Montréal    Quebec   Total (house and land)

                    UOM  VALUE STATUS  DECIMALS
0     Index, 201612=100   28.0    NaN         1
1     Index, 201612=100   28.5    NaN         1
2     Index, 201612=100   29.8    NaN         1
3     Index, 201612=100   31.2    NaN         1
4     Index, 201612=100   32.3    NaN         1
...                 ...    ...    ...       ...
1522  Index, 201612=100  151.7    NaN         1
1523  Index, 201612=100  151.7    NaN         1
1524  Index, 201612=100  151.7    NaN         1
1525  Index, 201612=100  152.5    NaN         1
1526  Index, 201612=100  152.5    NaN         1

[1527 rows x 9 columns]

In [16]:
#Use Path to import comparative price data built by the team to enable comparative analysis on the storytelling from the StatsCan dataset. 

Housing_Prices_by_year = Path("Resources/Housing_Prices_by_year.csv")
Housing_Prices_by_year_df = pd.read_csv(Housing_Prices_by_year, encoding="UTF-8-Sig")

#Specifically this data is to establish observations assoicated to the generalized quality of Canadian data on the Housing Market. For example, it's expected that from a regression perspective the average prices are compare against the StatsCan Index.

print(Housing_Prices_by_year_df)

     month_Year Vancouver   Toronto Montreal
0    2012-01-01    660,600  420,950  284,000
1    2012-02-01    670,900  456,537      NaN
2    2012-03-01    679,000  450,750      NaN
3    2012-04-01    683,800  464,075      NaN
4    2012-05-01    625,100  472,839      NaN
..          ...        ...      ...      ...
127  2022-08-01  1,180,500  939,625  523,700
128  2022-09-01  1,155,300  957,500  511,400
129  2022-10-01  1,148,900  964,125  504,800
130  2022-11-01  1,131,600  964,125  501,000
131  2022-12-01  1,114,300  939,125  516,400

[132 rows x 4 columns]

In [17]:
#Validating the Structure and Data Type of the "date" data from the .csv as Date Format input from "user" (the csv data set) to Python's/Panda's processing needs.
#Panda's format requirements found via => https://www.w3schools.com/python/python_datetime.asp
print(Housing_Prices_by_year_df['month_Year'])

#Validating what was loaded as DataTypes from the .csv of our new Housing Price DataSet.

print(Housing_Prices_by_year_df.dtypes)

0      2012-01-01
1      2012-02-01
2      2012-03-01
3      2012-04-01
4      2012-05-01
          ...
127    2022-08-01
128    2022-09-01
129    2022-10-01
130    2022-11-01
131    2022-12-01
Name: month_Year, Length: 132, dtype: object
month_Year    object
Vancouver     object
Toronto       object
Montreal      object
dtype: object

In [18]:
#Rename columns for code error appearing associated to "Vancouver" (Likely a "text trim")  issue from the team's .csv.

Housing_Prices_by_year_df.columns.values[1] = "Vancouver"
Housing_Prices_by_year_df.columns.values[2] = "Toronto"
Housing_Prices_by_year_df.columns.values[3] = "Montreal"

#print(Housing_Prices_by_year_df)

In [19]:
#1 => Goal of next step is to "establish" a column being similar to StatsCan original data of "YYYY-MM".
#2 => Leveraged following URL to establish what our "format=" parameter code has to be ... based on OUR USER INPUT DATA (IE: the .csv.) URL => https://www.w3schools.com/python/python_datetime.asp

DateInsert_Month_Year_DF = pd.Series(pd.to_datetime(Housing_Prices_by_year_df['month_Year'], format='%Y-%m-%d', errors = 'coerce'))

#Validate conversion was successful.
print(DateInsert_Month_Year_DF.to_dict())
print(DateInsert_Month_Year_DF)

{0: Timestamp('2012-01-01 00:00:00'), 1: Timestamp('2012-02-01 00:00:00'), 2: Timestamp('2012-03-01 00:00:00'), 3: Timestamp('2012-04-01 00:00:00'), 4: Timestamp('2012-05-01 00:00:00'), 5: Timestamp('2012-06-01 00:00:00'), 6: Timestamp('2012-07-01 00:00:00'), 7: Timestamp('2012-08-01 00:00:00'), 8: Timestamp('2012-09-01 00:00:00'), 9: Timestamp('2012-10-01 00:00:00'), 10: Timestamp('2012-11-01 00:00:00'), 11: Timestamp('2012-12-01 00:00:00'), 12: Timestamp('2013-01-01 00:00:00'), 13: Timestamp('2013-02-01 00:00:00'), 14: Timestamp('2013-03-01 00:00:00'), 15: Timestamp('2013-04-01 00:00:00'), 16: Timestamp('2013-05-01 00:00:00'), 17: Timestamp('2013-06-01 00:00:00'), 18: Timestamp('2013-07-01 00:00:00'), 19: Timestamp('2013-08-01 00:00:00'), 20: Timestamp('2013-09-01 00:00:00'), 21: Timestamp('2013-10-01 00:00:00'), 22: Timestamp('2013-11-01 00:00:00'), 23: Timestamp('2013-12-01 00:00:00'), 24: Timestamp('2014-01-01 00:00:00'), 25: Timestamp('2014-02-01 00:00:00'), 26: Timestamp('2014-03-01 00:00:00'), 27: Timestamp('2014-04-01 00:00:00'), 28: Timestamp('2014-05-01 00:00:00'), 29: Timestamp('2014-06-01 00:00:00'), 30: Timestamp('2014-07-01 00:00:00'), 31: Timestamp('2014-08-01 00:00:00'), 32: Timestamp('2014-09-01 00:00:00'), 33: Timestamp('2014-10-01 00:00:00'), 34: Timestamp('2014-11-01 00:00:00'), 35: Timestamp('2014-12-01 00:00:00'), 36: Timestamp('2015-01-01 00:00:00'), 37: Timestamp('2015-02-01 00:00:00'), 38: Timestamp('2015-03-01 00:00:00'), 39: Timestamp('2015-04-01 00:00:00'), 40: Timestamp('2015-05-01 00:00:00'), 41: Timestamp('2015-06-01 00:00:00'), 42: Timestamp('2015-07-01 00:00:00'), 43: Timestamp('2015-08-01 00:00:00'), 44: Timestamp('2015-09-01 00:00:00'), 45: Timestamp('2015-10-01 00:00:00'), 46: Timestamp('2015-11-01 00:00:00'), 47: Timestamp('2015-12-01 00:00:00'), 48: Timestamp('2016-01-01 00:00:00'), 49: Timestamp('2016-02-01 00:00:00'), 50: Timestamp('2016-03-01 00:00:00'), 51: Timestamp('2016-04-01 00:00:00'), 52: Timestamp('2016-05-01 00:00:00'), 53: Timestamp('2016-06-01 00:00:00'), 54: Timestamp('2016-07-01 00:00:00'), 55: Timestamp('2016-08-01 00:00:00'), 56: Timestamp('2016-09-01 00:00:00'), 57: Timestamp('2016-10-01 00:00:00'), 58: Timestamp('2016-11-01 00:00:00'), 59: Timestamp('2016-12-01 00:00:00'), 60: Timestamp('2017-01-01 00:00:00'), 61: Timestamp('2017-02-01 00:00:00'), 62: Timestamp('2017-03-01 00:00:00'), 63: Timestamp('2017-04-01 00:00:00'), 64: Timestamp('2017-05-01 00:00:00'), 65: Timestamp('2017-06-01 00:00:00'), 66: Timestamp('2017-07-01 00:00:00'), 67: Timestamp('2017-08-01 00:00:00'), 68: Timestamp('2017-09-01 00:00:00'), 69: Timestamp('2017-10-01 00:00:00'), 70: Timestamp('2017-11-01 00:00:00'), 71: Timestamp('2017-12-01 00:00:00'), 72: Timestamp('2018-01-01 00:00:00'), 73: Timestamp('2018-02-01 00:00:00'), 74: Timestamp('2018-03-01 00:00:00'), 75: Timestamp('2018-04-01 00:00:00'), 76: Timestamp('2018-05-01 00:00:00'), 77: Timestamp('2018-06-01 00:00:00'), 78: Timestamp('2018-07-01 00:00:00'), 79: Timestamp('2018-08-01 00:00:00'), 80: Timestamp('2018-09-01 00:00:00'), 81: Timestamp('2018-10-01 00:00:00'), 82: Timestamp('2018-11-01 00:00:00'), 83: Timestamp('2018-12-01 00:00:00'), 84: Timestamp('2019-01-01 00:00:00'), 85: Timestamp('2019-02-01 00:00:00'), 86: Timestamp('2019-03-01 00:00:00'), 87: Timestamp('2019-04-01 00:00:00'), 88: Timestamp('2019-05-01 00:00:00'), 89: Timestamp('2019-06-01 00:00:00'), 90: Timestamp('2019-07-01 00:00:00'), 91: Timestamp('2019-08-01 00:00:00'), 92: Timestamp('2019-09-01 00:00:00'), 93: Timestamp('2019-10-01 00:00:00'), 94: Timestamp('2019-11-01 00:00:00'), 95: Timestamp('2019-12-01 00:00:00'), 96: Timestamp('2020-01-01 00:00:00'), 97: Timestamp('2020-02-01 00:00:00'), 98: Timestamp('2020-03-01 00:00:00'), 99: Timestamp('2020-04-01 00:00:00'), 100: Timestamp('2020-05-01 00:00:00'), 101: Timestamp('2020-06-01 00:00:00'), 102: Timestamp('2020-07-01 00:00:00'), 103: Timestamp('2020-08-01 00:00:00'), 104: Timestamp('2020-09-01 00:00:00'), 105: Timestamp('2020-10-01 00:00:00'), 106: Timestamp('2020-11-01 00:00:00'), 107: Timestamp('2020-12-01 00:00:00'), 108: Timestamp('2021-01-01 00:00:00'), 109: Timestamp('2021-02-01 00:00:00'), 110: Timestamp('2021-03-01 00:00:00'), 111: Timestamp('2021-04-01 00:00:00'), 112: Timestamp('2021-05-01 00:00:00'), 113: Timestamp('2021-06-01 00:00:00'), 114: Timestamp('2021-07-01 00:00:00'), 115: Timestamp('2021-08-01 00:00:00'), 116: Timestamp('2021-09-01 00:00:00'), 117: Timestamp('2021-10-01 00:00:00'), 118: Timestamp('2021-11-01 00:00:00'), 119: Timestamp('2021-12-01 00:00:00'), 120: Timestamp('2022-01-01 00:00:00'), 121: Timestamp('2022-02-01 00:00:00'), 122: Timestamp('2022-03-01 00:00:00'), 123: Timestamp('2022-04-01 00:00:00'), 124: Timestamp('2022-05-01 00:00:00'), 125: Timestamp('2022-06-01 00:00:00'), 126: Timestamp('2022-07-01 00:00:00'), 127: Timestamp('2022-08-01 00:00:00'), 128: Timestamp('2022-09-01 00:00:00'), 129: Timestamp('2022-10-01 00:00:00'), 130: Timestamp('2022-11-01 00:00:00'), 131: Timestamp('2022-12-01 00:00:00')}
0     2012-01-01
1     2012-02-01
2     2012-03-01
3     2012-04-01
4     2012-05-01
         ...
127   2022-08-01
128   2022-09-01
129   2022-10-01
130   2022-11-01
131   2022-12-01
Name: month_Year, Length: 132, dtype: datetime64[ns]

In [20]:
#Rename original text date column for eventual deletion and maintain TXT column in new version of Housing_Prices_by_year_df.
TempRename_Housing_Prices_df = Housing_Prices_by_year_df.rename(columns={'month_Year': 'OLD_AsTXT_month_Year' })
print(TempRename_Housing_Prices_df)
print(TempRename_Housing_Prices_df.dtypes)

    OLD_AsTXT_month_Year  Vancouver  Toronto Montreal
0             2012-01-01    660,600  420,950  284,000
1             2012-02-01    670,900  456,537      NaN
2             2012-03-01    679,000  450,750      NaN
3             2012-04-01    683,800  464,075      NaN
4             2012-05-01    625,100  472,839      NaN
..                   ...        ...      ...      ...
127           2022-08-01  1,180,500  939,625  523,700
128           2022-09-01  1,155,300  957,500  511,400
129           2022-10-01  1,148,900  964,125  504,800
130           2022-11-01  1,131,600  964,125  501,000
131           2022-12-01  1,114,300  939,125  516,400

[132 rows x 4 columns]
OLD_AsTXT_month_Year    object
Vancouver               object
Toronto                 object
Montreal                object
dtype: object

In [21]:
#Add Date Column to TempRename_Housing_Prices_df to enable statistical analysis via "date between" functions if necessary.
DateClean_Housing_Prices_by_year_df = pd.concat((DateInsert_Month_Year_DF,TempRename_Housing_Prices_df), axis=1, join='outer')
#Noted Syntax Error => https://stackoverflow.com/questions/45175469/typeerror-concat-got-multiple-values-for-argument-axis

#Rename Column to include "asDate"
DateClean_Housing_Prices_by_year_df.columns.values[0] = 'month_Year_asDate'

#Validate Data Types and Output of above code.
print(DateClean_Housing_Prices_by_year_df.dtypes)
print(DateClean_Housing_Prices_by_year_df.to_dict())
print(DateClean_Housing_Prices_by_year_df)

month_Year_asDate       datetime64[ns]
OLD_AsTXT_month_Year            object
Vancouver                       object
Toronto                         object
Montreal                        object
dtype: object
{'month_Year_asDate': {0: Timestamp('2012-01-01 00:00:00'), 1: Timestamp('2012-02-01 00:00:00'), 2: Timestamp('2012-03-01 00:00:00'), 3: Timestamp('2012-04-01 00:00:00'), 4: Timestamp('2012-05-01 00:00:00'), 5: Timestamp('2012-06-01 00:00:00'), 6: Timestamp('2012-07-01 00:00:00'), 7: Timestamp('2012-08-01 00:00:00'), 8: Timestamp('2012-09-01 00:00:00'), 9: Timestamp('2012-10-01 00:00:00'), 10: Timestamp('2012-11-01 00:00:00'), 11: Timestamp('2012-12-01 00:00:00'), 12: Timestamp('2013-01-01 00:00:00'), 13: Timestamp('2013-02-01 00:00:00'), 14: Timestamp('2013-03-01 00:00:00'), 15: Timestamp('2013-04-01 00:00:00'), 16: Timestamp('2013-05-01 00:00:00'), 17: Timestamp('2013-06-01 00:00:00'), 18: Timestamp('2013-07-01 00:00:00'), 19: Timestamp('2013-08-01 00:00:00'), 20: Timestamp('2013-09-01 00:00:00'), 21: Timestamp('2013-10-01 00:00:00'), 22: Timestamp('2013-11-01 00:00:00'), 23: Timestamp('2013-12-01 00:00:00'), 24: Timestamp('2014-01-01 00:00:00'), 25: Timestamp('2014-02-01 00:00:00'), 26: Timestamp('2014-03-01 00:00:00'), 27: Timestamp('2014-04-01 00:00:00'), 28: Timestamp('2014-05-01 00:00:00'), 29: Timestamp('2014-06-01 00:00:00'), 30: Timestamp('2014-07-01 00:00:00'), 31: Timestamp('2014-08-01 00:00:00'), 32: Timestamp('2014-09-01 00:00:00'), 33: Timestamp('2014-10-01 00:00:00'), 34: Timestamp('2014-11-01 00:00:00'), 35: Timestamp('2014-12-01 00:00:00'), 36: Timestamp('2015-01-01 00:00:00'), 37: Timestamp('2015-02-01 00:00:00'), 38: Timestamp('2015-03-01 00:00:00'), 39: Timestamp('2015-04-01 00:00:00'), 40: Timestamp('2015-05-01 00:00:00'), 41: Timestamp('2015-06-01 00:00:00'), 42: Timestamp('2015-07-01 00:00:00'), 43: Timestamp('2015-08-01 00:00:00'), 44: Timestamp('2015-09-01 00:00:00'), 45: Timestamp('2015-10-01 00:00:00'), 46: Timestamp('2015-11-01 00:00:00'), 47: Timestamp('2015-12-01 00:00:00'), 48: Timestamp('2016-01-01 00:00:00'), 49: Timestamp('2016-02-01 00:00:00'), 50: Timestamp('2016-03-01 00:00:00'), 51: Timestamp('2016-04-01 00:00:00'), 52: Timestamp('2016-05-01 00:00:00'), 53: Timestamp('2016-06-01 00:00:00'), 54: Timestamp('2016-07-01 00:00:00'), 55: Timestamp('2016-08-01 00:00:00'), 56: Timestamp('2016-09-01 00:00:00'), 57: Timestamp('2016-10-01 00:00:00'), 58: Timestamp('2016-11-01 00:00:00'), 59: Timestamp('2016-12-01 00:00:00'), 60: Timestamp('2017-01-01 00:00:00'), 61: Timestamp('2017-02-01 00:00:00'), 62: Timestamp('2017-03-01 00:00:00'), 63: Timestamp('2017-04-01 00:00:00'), 64: Timestamp('2017-05-01 00:00:00'), 65: Timestamp('2017-06-01 00:00:00'), 66: Timestamp('2017-07-01 00:00:00'), 67: Timestamp('2017-08-01 00:00:00'), 68: Timestamp('2017-09-01 00:00:00'), 69: Timestamp('2017-10-01 00:00:00'), 70: Timestamp('2017-11-01 00:00:00'), 71: Timestamp('2017-12-01 00:00:00'), 72: Timestamp('2018-01-01 00:00:00'), 73: Timestamp('2018-02-01 00:00:00'), 74: Timestamp('2018-03-01 00:00:00'), 75: Timestamp('2018-04-01 00:00:00'), 76: Timestamp('2018-05-01 00:00:00'), 77: Timestamp('2018-06-01 00:00:00'), 78: Timestamp('2018-07-01 00:00:00'), 79: Timestamp('2018-08-01 00:00:00'), 80: Timestamp('2018-09-01 00:00:00'), 81: Timestamp('2018-10-01 00:00:00'), 82: Timestamp('2018-11-01 00:00:00'), 83: Timestamp('2018-12-01 00:00:00'), 84: Timestamp('2019-01-01 00:00:00'), 85: Timestamp('2019-02-01 00:00:00'), 86: Timestamp('2019-03-01 00:00:00'), 87: Timestamp('2019-04-01 00:00:00'), 88: Timestamp('2019-05-01 00:00:00'), 89: Timestamp('2019-06-01 00:00:00'), 90: Timestamp('2019-07-01 00:00:00'), 91: Timestamp('2019-08-01 00:00:00'), 92: Timestamp('2019-09-01 00:00:00'), 93: Timestamp('2019-10-01 00:00:00'), 94: Timestamp('2019-11-01 00:00:00'), 95: Timestamp('2019-12-01 00:00:00'), 96: Timestamp('2020-01-01 00:00:00'), 97: Timestamp('2020-02-01 00:00:00'), 98: Timestamp('2020-03-01 00:00:00'), 99: Timestamp('2020-04-01 00:00:00'), 100: Timestamp('2020-05-01 00:00:00'), 101: Timestamp('2020-06-01 00:00:00'), 102: Timestamp('2020-07-01 00:00:00'), 103: Timestamp('2020-08-01 00:00:00'), 104: Timestamp('2020-09-01 00:00:00'), 105: Timestamp('2020-10-01 00:00:00'), 106: Timestamp('2020-11-01 00:00:00'), 107: Timestamp('2020-12-01 00:00:00'), 108: Timestamp('2021-01-01 00:00:00'), 109: Timestamp('2021-02-01 00:00:00'), 110: Timestamp('2021-03-01 00:00:00'), 111: Timestamp('2021-04-01 00:00:00'), 112: Timestamp('2021-05-01 00:00:00'), 113: Timestamp('2021-06-01 00:00:00'), 114: Timestamp('2021-07-01 00:00:00'), 115: Timestamp('2021-08-01 00:00:00'), 116: Timestamp('2021-09-01 00:00:00'), 117: Timestamp('2021-10-01 00:00:00'), 118: Timestamp('2021-11-01 00:00:00'), 119: Timestamp('2021-12-01 00:00:00'), 120: Timestamp('2022-01-01 00:00:00'), 121: Timestamp('2022-02-01 00:00:00'), 122: Timestamp('2022-03-01 00:00:00'), 123: Timestamp('2022-04-01 00:00:00'), 124: Timestamp('2022-05-01 00:00:00'), 125: Timestamp('2022-06-01 00:00:00'), 126: Timestamp('2022-07-01 00:00:00'), 127: Timestamp('2022-08-01 00:00:00'), 128: Timestamp('2022-09-01 00:00:00'), 129: Timestamp('2022-10-01 00:00:00'), 130: Timestamp('2022-11-01 00:00:00'), 131: Timestamp('2022-12-01 00:00:00')}, 'OLD_AsTXT_month_Year': {0: '2012-01-01', 1: '2012-02-01', 2: '2012-03-01', 3: '2012-04-01', 4: '2012-05-01', 5: '2012-06-01', 6: '2012-07-01', 7: '2012-08-01', 8: '2012-09-01', 9: '2012-10-01', 10: '2012-11-01', 11: '2012-12-01', 12: '2013-01-01', 13: '2013-02-01', 14: '2013-03-01', 15: '2013-04-01', 16: '2013-05-01', 17: '2013-06-01', 18: '2013-07-01', 19: '2013-08-01', 20: '2013-09-01', 21: '2013-10-01', 22: '2013-11-01', 23: '2013-12-01', 24: '2014-01-01', 25: '2014-02-01', 26: '2014-03-01', 27: '2014-04-01', 28: '2014-05-01', 29: '2014-06-01', 30: '2014-07-01', 31: '2014-08-01', 32: '2014-09-01', 33: '2014-10-01', 34: '2014-11-01', 35: '2014-12-01', 36: '2015-01-01', 37: '2015-02-01', 38: '2015-03-01', 39: '2015-04-01', 40: '2015-05-01', 41: '2015-06-01', 42: '2015-07-01', 43: '2015-08-01', 44: '2015-09-01', 45: '2015-10-01', 46: '2015-11-01', 47: '2015-12-01', 48: '2016-01-01', 49: '2016-02-01', 50: '2016-03-01', 51: '2016-04-01', 52: '2016-05-01', 53: '2016-06-01', 54: '2016-07-01', 55: '2016-08-01', 56: '2016-09-01', 57: '2016-10-01', 58: '2016-11-01', 59: '2016-12-01', 60: '2017-01-01', 61: '2017-02-01', 62: '2017-03-01', 63: '2017-04-01', 64: '2017-05-01', 65: '2017-06-01', 66: '2017-07-01', 67: '2017-08-01', 68: '2017-09-01', 69: '2017-10-01', 70: '2017-11-01', 71: '2017-12-01', 72: '2018-01-01', 73: '2018-02-01', 74: '2018-03-01', 75: '2018-04-01', 76: '2018-05-01', 77: '2018-06-01', 78: '2018-07-01', 79: '2018-08-01', 80: '2018-09-01', 81: '2018-10-01', 82: '2018-11-01', 83: '2018-12-01', 84: '2019-01-01', 85: '2019-02-01', 86: '2019-03-01', 87: '2019-04-01', 88: '2019-05-01', 89: '2019-06-01', 90: '2019-07-01', 91: '2019-08-01', 92: '2019-09-01', 93: '2019-10-01', 94: '2019-11-01', 95: '2019-12-01', 96: '2020-01-01', 97: '2020-02-01', 98: '2020-03-01', 99: '2020-04-01', 100: '2020-05-01', 101: '2020-06-01', 102: '2020-07-01', 103: '2020-08-01', 104: '2020-09-01', 105: '2020-10-01', 106: '2020-11-01', 107: '2020-12-01', 108: '2021-01-01', 109: '2021-02-01', 110: '2021-03-01', 111: '2021-04-01', 112: '2021-05-01', 113: '2021-06-01', 114: '2021-07-01', 115: '2021-08-01', 116: '2021-09-01', 117: '2021-10-01', 118: '2021-11-01', 119: '2021-12-01', 120: '2022-01-01', 121: '2022-02-01', 122: '2022-03-01', 123: '2022-04-01', 124: '2022-05-01', 125: '2022-06-01', 126: '2022-07-01', 127: '2022-08-01', 128: '2022-09-01', 129: '2022-10-01', 130: '2022-11-01', 131: '2022-12-01'}, 'Vancouver': {0: '660,600', 1: '670,900', 2: '679,000', 3: '683,800', 4: '625,100', 5: '624,600', 6: '616,000', 7: '609,500', 8: '606,100', 9: '603,800', 10: '596,900', 11: '590,800', 12: '588,100', 13: '590,400', 14: '593,100', 15: '597,300', 16: '598,400', 17: '601,900', 18: '601,900', 19: '601,500', 20: '601,900', 21: '600,700', 22: '603,700', 23: '603,400', 24: '606,800', 25: '609,100', 26: '615,200', 27: '619,000', 28: '624,000', 29: '628,200', 30: '628,600', 31: '631,600', 32: '633,500', 33: '637,000', 34: '637,300', 35: '638,500', 36: '641,600', 37: '649,700', 38: '660,700', 39: '673,000', 40: '684,400', 41: '694,000', 42: '700,500', 43: '708,500', 44: '722,300', 45: '736,000', 46: '752,500', 47: '760,900', 48: '770,689', 49: '781,979', 50: '793,268', 51: '804,557', 52: '815,846', 53: '827,136', 54: '838,425', 55: '849,714', 56: '861,004', 57: '872,293', 58: '883,582', 59: '894,871', 60: '896,000', 61: '906,700', 62: '919,300', 63: '941,100', 64: '967,500', 65: '998,700', 66: '1,019,400', 67: '1,029,700', 68: '1,037,300', 69: '1,042,300', 70: '1,046,900', 71: '1,050,300', 72: '1,056,500', 73: '1,602,000', 74: '1,084,000', 75: '1,092,000', 76: '1,094,000', 77: '1,093,600', 78: '1,087,500', 79: '1,083,400', 80: '1,070,600', 81: '1,524,000', 82: '1,042,100', 83: '1,479,000', 84: '1,019,600', 85: '1,016,600', 86: '1,011,200', 87: '1,008,400', 88: '1,006,400', 89: '998,700', 90: '995,200', 91: '993,300', 92: '990,600', 93: '992,900', 94: '993,700', 95: '1,001,000', 96: '1,008,700', 97: '1,020,600', 98: '1,033,700', 99: '1,036,000', 100: '1,036,000', 101: '1,025,300', 102: '1,031,400', 103: '1,038,700', 104: '1,041,300', 105: '1,045,100', 106: '1,044,000', 107: '1,044,000', 108: '1,056,600', 109: '1,052,800', 110: '1,128,600', 111: '1,128,600', 112: '1,158,000', 113: '1,152,600', 114: '1,175,500', 115: '1,176,600', 116: '1,186,100', 117: '1,199,400', 118: '1,870,000', 119: '1,230,200', 120: '1,255,200', 121: '1,313,400', 122: '1,360,500', 123: '1,374,500', 124: '1,261,100', 125: '1,235,900', 126: '1,207,400', 127: '1,180,500', 128: '1,155,300', 129: '1,148,900', 130: '1,131,600', 131: '1,114,300'}, 'Toronto': {0: '420,950', 1: '456,537', 2: '450,750', 3: '464,075', 4: '472,839', 5: '449,963', 6: '430,375', 7: '421,000', 8: '449,862', 9: '454,500', 10: '440,768', 11: '421,875', 12: '448,800', 13: '468,062', 14: '472,812', 15: '473,750', 16: '479,475', 17: '472,018', 18: '461,250', 19: '440,187', 20: '474,225', 21: '486,750', 22: '482,600', 23: '469,375', 24: '472,437', 25: '528,750', 26: '502,400', 27: '519,212', 28: '519,000', 29: '517,875', 30: '501,343', 31: '486,062', 32: '523,750', 33: '529,500', 34: '526,372', 35: '488,575', 36: '528,437', 37: '547,437', 38: '563,625', 39: '567,450', 40: '578,500', 41: '566,787', 42: '546,750', 43: '539,125', 44: '566,562', 45: '576,375', 46: '566,762', 47: '547,000', 48: '555,875', 49: '625,000', 50: '616,750', 51: '648,750', 52: '654,000', 53: '654,375', 54: '624,750', 55: '614,250', 56: '661,225', 57: '680,437', 58: '685,025', 59: '656,750', 60: '705,502', 61: '796,000', 62: '827,325', 63: '839,125', 64: '781,187', 65: '742,562', 66: '704,373', 67: '688,625', 68: '721,500', 69: '739,250', 70: '701,281', 71: '681,611', 72: '717,750', 73: '748,249', 74: '754,200', 75: '784,562', 76: '777,125', 77: '774,925', 78: '729,225', 79: '706,000', 80: '759,625', 81: '772,625', 82: '765,500', 83: '709,687', 84: '735,250', 85: '790,625', 86: '767,562', 87: '784,000', 88: '807,500', 89: '801,562', 90: '761,250', 91: '756,250', 92: '813,475', 93: '811,875', 94: '798,562', 95: '780,064', 96: '799,250', 97: '912,784', 98: '878,600', 99: '818,750', 100: '864,450', 101: '918,437', 102: '904,125', 103: '877,475', 104: '875,595', 105: '859,500', 106: '870,225', 107: '875,000', 108: '936,037', 109: '981,100', 110: '996,500', 111: '1,001,975', 112: '988,500', 113: '976,937', 114: '955,812', 115: '952,000', 116: '1,008,375', 117: '1,027,000', 118: '1,034,812', 119: '1,033,750', 120: '1,142,625', 121: '1,188,250', 122: '1,162,272', 123: '1,121,717', 124: '1,084,562', 125: '1,023,000', 126: '955,026', 127: '939,625', 128: '957,500', 129: '964,125', 130: '964,125', 131: '939,125'}, 'Montreal': {0: '284,000', 1: nan, 2: nan, 3: nan, 4: nan, 5: nan, 6: nan, 7: nan, 8: nan, 9: nan, 10: nan, 11: nan, 12: nan, 13: nan, 14: nan, 15: nan, 16: nan, 17: nan, 18: nan, 19: nan, 20: nan, 21: nan, 22: nan, 23: nan, 24: nan, 25: nan, 26: nan, 27: nan, 28: nan, 29: nan, 30: nan, 31: nan, 32: nan, 33: nan, 34: nan, 35: nan, 36: nan, 37: nan, 38: nan, 39: nan, 40: nan, 41: nan, 42: nan, 43: nan, 44: nan, 45: nan, 46: nan, 47: nan, 48: nan, 49: '303,600', 50: nan, 51: nan, 52: nan, 53: nan, 54: nan, 55: nan, 56: nan, 57: nan, 58: nan, 59: nan, 60: '314,300', 61: '315,200', 62: '318,500', 63: '321,000', 64: '322,400', 65: '323,900', 66: '326,200', 67: '326,400', 68: '327,600', 69: '329,300', 70: '327,800', 71: '330,900', 72: '328,600', 73: '332,600', 74: '336,300', 75: '339,300', 76: '341,900', 77: '342,600', 78: '342,800', 79: '343,600', 80: '346,100', 81: '348,000', 82: '348,400', 83: '349,200', 84: '349,600', 85: '353,400', 86: '357,800', 87: '397,730', 88: '347,200', 89: '350,500', 90: '351,700', 91: '350,700', 92: '357,600', 93: '361,300', 94: '360,300', 95: '360,900', 96: '372,000', 97: '380,500', 98: '387,200', 99: '385,500', 100: '386,200', 101: '391,600', 102: '402,000', 103: '409,200', 104: '413,600', 105: '418,000', 106: '424,000', 107: '426,900', 108: '434,600', 109: '453,700', 110: '475,000', 111: '488,300', 112: '482,900', 113: '485,200', 114: '482,200', 115: '482,600', 116: '483,800', 117: '491,000', 118: '496,900', 119: '501,100', 120: '527,000', 121: '536,600', 122: '546,600', 123: '552,400', 124: '549,700', 125: '541,100', 126: '533,300', 127: '523,700', 128: '511,400', 129: '504,800', 130: '501,000', 131: '516,400'}}
    month_Year_asDate OLD_AsTXT_month_Year  Vancouver  Toronto Montreal
0          2012-01-01           2012-01-01    660,600  420,950  284,000
1          2012-02-01           2012-02-01    670,900  456,537      NaN
2          2012-03-01           2012-03-01    679,000  450,750      NaN
3          2012-04-01           2012-04-01    683,800  464,075      NaN
4          2012-05-01           2012-05-01    625,100  472,839      NaN
..                ...                  ...        ...      ...      ...
127        2022-08-01           2022-08-01  1,180,500  939,625  523,700
128        2022-09-01           2022-09-01  1,155,300  957,500  511,400
129        2022-10-01           2022-10-01  1,148,900  964,125  504,800
130        2022-11-01           2022-11-01  1,131,600  964,125  501,000
131        2022-12-01           2022-12-01  1,114,300  939,125  516,400

[132 rows x 5 columns]

In [22]:
#Parsing the OLD_asTXT_month_Year column into a data frame to enable the Concat to StatsCan's YYYY-MM data formatting.
#Below executes spliting the column by the "-"

HP_Month_Year_DF = DateClean_Housing_Prices_by_year_df['OLD_AsTXT_month_Year'].str.split('-')

HP_Year_Row = HP_Month_Year_DF.str.get(0) #access the first element for eventual "column1"
HP_Month_Row = HP_Month_Year_DF.str.get(1) #access the 2nd element for eventual "column2"
HP_Day_Row = HP_Month_Year_DF.str.get(2) #access the 3rd element for eventual "column3"

print(HP_Year_Row)
print(HP_Month_Row)
print(HP_Day_Row)

0      2012
1      2012
2      2012
3      2012
4      2012
       ...
127    2022
128    2022
129    2022
130    2022
131    2022
Name: OLD_AsTXT_month_Year, Length: 132, dtype: object
0      01
1      02
2      03
3      04
4      05
       ..
127    08
128    09
129    10
130    11
131    12
Name: OLD_AsTXT_month_Year, Length: 132, dtype: object
0      01
1      01
2      01
3      01
4      01
       ..
127    01
128    01
129    01
130    01
131    01
Name: OLD_AsTXT_month_Year, Length: 132, dtype: object

In [23]:
#Merging the parsed data and recreating into a single DataFrame.

Manual_Merge_HP_Date =  pd.concat([HP_Year_Row,HP_Month_Row,HP_Day_Row], axis=1)
#Manual_Merge_HP_Date
Manual_Merge_HP_Date.columns.values[0] = "HousePrice_Year"
Manual_Merge_HP_Date.columns.values[1] = "HousePrice_Month"
Manual_Merge_HP_Date.columns.values[2] = "HousePrice_Day"

Manual_Merge_HP_Date

#EXAMPLE Code Reference from above.
#Manual_Merge_date = pd.concat([Row_Year,Row_Month], axis=1) #axis=1 is using "column 1" to merge.
#Manual_Merge_date
#Rename Options presented via => https://www.geeksforgeeks.org/rename-specific-columns-in-pandas/
#Manual_Merge_date.columns.values[0] = "Year"
#Manual_Merge_date.columns.values[1] = "Month"
#Manual_Merge_date
#BEST PRACTICE MIGHT BE TO RENAME RIGHT AWAY "HERE" ... to save coding time later.

    HousePrice_Year HousePrice_Month HousePrice_Day
0              2012               01             01
1              2012               02             01
2              2012               03             01
3              2012               04             01
4              2012               05             01
..              ...              ...            ...
127            2022               08             01
128            2022               09             01
129            2022               10             01
130            2022               11             01
131            2022               12             01

[132 rows x 3 columns]

In [24]:
#This cell is merging back into the DateClean_Housing_Prices_by_year_df "user data" 

Full_HP_by_Year_DF = pd.concat([Manual_Merge_HP_Date, DateClean_Housing_Prices_by_year_df], axis=1,join='outer')
print(Full_HP_by_Year_DF)

    HousePrice_Year HousePrice_Month HousePrice_Day month_Year_asDate  \
0              2012               01             01        2012-01-01
1              2012               02             01        2012-02-01
2              2012               03             01        2012-03-01
3              2012               04             01        2012-04-01
4              2012               05             01        2012-05-01
..              ...              ...            ...               ...
127            2022               08             01        2022-08-01
128            2022               09             01        2022-09-01
129            2022               10             01        2022-10-01
130            2022               11             01        2022-11-01
131            2022               12             01        2022-12-01

    OLD_AsTXT_month_Year  Vancouver  Toronto Montreal
0             2012-01-01    660,600  420,950  284,000
1             2012-02-01    670,900  456,537      NaN
2             2012-03-01    679,000  450,750      NaN
3             2012-04-01    683,800  464,075      NaN
4             2012-05-01    625,100  472,839      NaN
..                   ...        ...      ...      ...
127           2022-08-01  1,180,500  939,625  523,700
128           2022-09-01  1,155,300  957,500  511,400
129           2022-10-01  1,148,900  964,125  504,800
130           2022-11-01  1,131,600  964,125  501,000
131           2022-12-01  1,114,300  939,125  516,400

[132 rows x 8 columns]

In [25]:
#Removing columns no longer needed to enable House Price Analysis.
#Purpose = to prepare to merge to the "master Analysis data sheet" on a city by city basis.

reduced_HP_by_year_df = Full_HP_by_Year_DF[["HousePrice_Year","HousePrice_Month","month_Year_asDate","Vancouver","Toronto","Montreal"]]
print(reduced_HP_by_year_df)

    HousePrice_Year HousePrice_Month month_Year_asDate  Vancouver  Toronto  \
0              2012               01        2012-01-01    660,600  420,950
1              2012               02        2012-02-01    670,900  456,537
2              2012               03        2012-03-01    679,000  450,750
3              2012               04        2012-04-01    683,800  464,075
4              2012               05        2012-05-01    625,100  472,839
..              ...              ...               ...        ...      ...
127            2022               08        2022-08-01  1,180,500  939,625
128            2022               09        2022-09-01  1,155,300  957,500
129            2022               10        2022-10-01  1,148,900  964,125
130            2022               11        2022-11-01  1,131,600  964,125
131            2022               12        2022-12-01  1,114,300  939,125

    Montreal
0    284,000
1        NaN
2        NaN
3        NaN
4        NaN
..       ...
127  523,700
128  511,400
129  504,800
130  501,000
131  516,400

[132 rows x 6 columns]

In [26]:
#Using Loc to select all rows for "HousePrice_Year", "HousePrice_Month","Vancouver".
Vancouver_Avg_HP_df = reduced_HP_by_year_df.loc[:,["month_Year_asDate","HousePrice_Year", "HousePrice_Month","Vancouver"]]
Vancouver_Avg_HP_df.columns.values[0] = 'DATE'
Vancouver_Avg_HP_df.columns.values[3] = 'Avg_HousePrice'
print(Vancouver_Avg_HP_df)

#Creating new column named "City_Region" = "Vancouver"
Vancouver_Avg_HP_df["HP_City_Region"] = "Vancouver"
print(Vancouver_Avg_HP_df)

          DATE HousePrice_Year HousePrice_Month Avg_HousePrice
0   2012-01-01            2012               01        660,600
1   2012-02-01            2012               02        670,900
2   2012-03-01            2012               03        679,000
3   2012-04-01            2012               04        683,800
4   2012-05-01            2012               05        625,100
..         ...             ...              ...            ...
127 2022-08-01            2022               08      1,180,500
128 2022-09-01            2022               09      1,155,300
129 2022-10-01            2022               10      1,148,900
130 2022-11-01            2022               11      1,131,600
131 2022-12-01            2022               12      1,114,300

[132 rows x 4 columns]
          DATE HousePrice_Year HousePrice_Month Avg_HousePrice HP_City_Region
0   2012-01-01            2012               01        660,600      Vancouver
1   2012-02-01            2012               02        670,900      Vancouver
2   2012-03-01            2012               03        679,000      Vancouver
3   2012-04-01            2012               04        683,800      Vancouver
4   2012-05-01            2012               05        625,100      Vancouver
..         ...             ...              ...            ...            ...
127 2022-08-01            2022               08      1,180,500      Vancouver
128 2022-09-01            2022               09      1,155,300      Vancouver
129 2022-10-01            2022               10      1,148,900      Vancouver
130 2022-11-01            2022               11      1,131,600      Vancouver
131 2022-12-01            2022               12      1,114,300      Vancouver

[132 rows x 5 columns]

In [27]:
#Using Loc to select all rows for "HousePrice_Year", "HousePrice_Month","Vancouver".
Toronto_Avg_HP_df = reduced_HP_by_year_df.loc[:,["month_Year_asDate","HousePrice_Year", "HousePrice_Month","Toronto"]]
Toronto_Avg_HP_df.columns.values[0] = 'DATE'
Toronto_Avg_HP_df.columns.values[3] = 'Avg_HousePrice'
print(Toronto_Avg_HP_df)

#Creating new column named "City_Region" = "Vancouver"
Toronto_Avg_HP_df["HP_City_Region"] = "Toronto"
print(Toronto_Avg_HP_df)

          DATE HousePrice_Year HousePrice_Month Avg_HousePrice
0   2012-01-01            2012               01        420,950
1   2012-02-01            2012               02        456,537
2   2012-03-01            2012               03        450,750
3   2012-04-01            2012               04        464,075
4   2012-05-01            2012               05        472,839
..         ...             ...              ...            ...
127 2022-08-01            2022               08        939,625
128 2022-09-01            2022               09        957,500
129 2022-10-01            2022               10        964,125
130 2022-11-01            2022               11        964,125
131 2022-12-01            2022               12        939,125

[132 rows x 4 columns]
          DATE HousePrice_Year HousePrice_Month Avg_HousePrice HP_City_Region
0   2012-01-01            2012               01        420,950        Toronto
1   2012-02-01            2012               02        456,537        Toronto
2   2012-03-01            2012               03        450,750        Toronto
3   2012-04-01            2012               04        464,075        Toronto
4   2012-05-01            2012               05        472,839        Toronto
..         ...             ...              ...            ...            ...
127 2022-08-01            2022               08        939,625        Toronto
128 2022-09-01            2022               09        957,500        Toronto
129 2022-10-01            2022               10        964,125        Toronto
130 2022-11-01            2022               11        964,125        Toronto
131 2022-12-01            2022               12        939,125        Toronto

[132 rows x 5 columns]

In [28]:
#Using Loc to select all rows for "HousePrice_Year", "HousePrice_Month","Vancouver".
Montreal_Avg_HP_df = reduced_HP_by_year_df.loc[:,["month_Year_asDate","HousePrice_Year", "HousePrice_Month","Toronto"]]
Montreal_Avg_HP_df.columns.values[0] = 'DATE'
Montreal_Avg_HP_df.columns.values[3] = 'Avg_HousePrice'
print(Montreal_Avg_HP_df)

#Creating new column named "City_Region" = "Vancouver"
Montreal_Avg_HP_df["HP_City_Region"] = "Montréal"
print(Montreal_Avg_HP_df)

          DATE HousePrice_Year HousePrice_Month Avg_HousePrice
0   2012-01-01            2012               01        420,950
1   2012-02-01            2012               02        456,537
2   2012-03-01            2012               03        450,750
3   2012-04-01            2012               04        464,075
4   2012-05-01            2012               05        472,839
..         ...             ...              ...            ...
127 2022-08-01            2022               08        939,625
128 2022-09-01            2022               09        957,500
129 2022-10-01            2022               10        964,125
130 2022-11-01            2022               11        964,125
131 2022-12-01            2022               12        939,125

[132 rows x 4 columns]
          DATE HousePrice_Year HousePrice_Month Avg_HousePrice HP_City_Region
0   2012-01-01            2012               01        420,950       Montréal
1   2012-02-01            2012               02        456,537       Montréal
2   2012-03-01            2012               03        450,750       Montréal
3   2012-04-01            2012               04        464,075       Montréal
4   2012-05-01            2012               05        472,839       Montréal
..         ...             ...              ...            ...            ...
127 2022-08-01            2022               08        939,625       Montréal
128 2022-09-01            2022               09        957,500       Montréal
129 2022-10-01            2022               10        964,125       Montréal
130 2022-11-01            2022               11        964,125       Montréal
131 2022-12-01            2022               12        939,125       Montréal

[132 rows x 5 columns]

In [29]:
#Use pd.concat to union the data rather than to join it on an axis.

avg_hp_df = pd.concat([Vancouver_Avg_HP_df,Toronto_Avg_HP_df,Montreal_Avg_HP_df])

#Sort Values
avg_hp_df = avg_hp_df.sort_values(by=["DATE","HousePrice_Year", "HousePrice_Month", "HP_City_Region"], ascending=True)

#reset the index so that the index is now based on the sort.
avg_hp_df = avg_hp_df.reset_index(drop=True)

avg_hp_df.head()

        DATE HousePrice_Year HousePrice_Month Avg_HousePrice HP_City_Region
0 2012-01-01            2012               01        420,950       Montréal
1 2012-01-01            2012               01        420,950        Toronto
2 2012-01-01            2012               01        660,600      Vancouver
3 2012-02-01            2012               02        456,537       Montréal
4 2012-02-01            2012               02        456,537        Toronto

In [30]:
#Creating a test cell for the "if + elif" row ... as For (?) LOOP to populate a data frame. I'm not 100% certain the cells above are executing 100% of everything we need.

HP_to_Final_City_Filtered_DF = pd.merge( Final_City_Filtered_DF ,avg_hp_df, how='left',
left_on=['Year','Month','City_Region'], right_on=['HousePrice_Year','HousePrice_Month','HP_City_Region'])

print(HP_to_Final_City_Filtered_DF)

      Year Month City_Region  Province NewHousePrice_Index_Type  \
0     1981    01     Toronto   Ontario   Total (house and land)
1     1981    02     Toronto   Ontario   Total (house and land)
2     1981    03     Toronto   Ontario   Total (house and land)
3     1981    04     Toronto   Ontario   Total (house and land)
4     1981    05     Toronto   Ontario   Total (house and land)
...    ...   ...         ...       ...                      ...
1522  2023    01    Montréal    Quebec   Total (house and land)
1523  2023    02    Montréal    Quebec   Total (house and land)
1524  2023    03    Montréal    Quebec   Total (house and land)
1525  2023    04    Montréal    Quebec   Total (house and land)
1526  2023    05    Montréal    Quebec   Total (house and land)

                    UOM  VALUE STATUS  DECIMALS DATE HousePrice_Year  \
0     Index, 201612=100   28.0    NaN         1  NaT             NaN
1     Index, 201612=100   28.5    NaN         1  NaT             NaN
2     Index, 201612=100   29.8    NaN         1  NaT             NaN
3     Index, 201612=100   31.2    NaN         1  NaT             NaN
4     Index, 201612=100   32.3    NaN         1  NaT             NaN
...                 ...    ...    ...       ...  ...             ...
1522  Index, 201612=100  151.7    NaN         1  NaT             NaN
1523  Index, 201612=100  151.7    NaN         1  NaT             NaN
1524  Index, 201612=100  151.7    NaN         1  NaT             NaN
1525  Index, 201612=100  152.5    NaN         1  NaT             NaN
1526  Index, 201612=100  152.5    NaN         1  NaT             NaN

     HousePrice_Month Avg_HousePrice HP_City_Region
0                 NaN            NaN            NaN
1                 NaN            NaN            NaN
2                 NaN            NaN            NaN
3                 NaN            NaN            NaN
4                 NaN            NaN            NaN
...               ...            ...            ...
1522              NaN            NaN            NaN
1523              NaN            NaN            NaN
1524              NaN            NaN            NaN
1525              NaN            NaN            NaN
1526              NaN            NaN            NaN

[1527 rows x 14 columns]

In [31]:
# remove duplicated data columns HP_to_Final_City_Filtered_DF
StatsCan_Final_City_Filtered_DF = HP_to_Final_City_Filtered_DF[['Year','Month','City_Region','Province','Avg_HousePrice']]
print(StatsCan_Final_City_Filtered_DF)

      Year Month City_Region  Province Avg_HousePrice
0     1981    01     Toronto   Ontario            NaN
1     1981    02     Toronto   Ontario            NaN
2     1981    03     Toronto   Ontario            NaN
3     1981    04     Toronto   Ontario            NaN
4     1981    05     Toronto   Ontario            NaN
...    ...   ...         ...       ...            ...
1522  2023    01    Montréal    Quebec            NaN
1523  2023    02    Montréal    Quebec            NaN
1524  2023    03    Montréal    Quebec            NaN
1525  2023    04    Montréal    Quebec            NaN
1526  2023    05    Montréal    Quebec            NaN

[1527 rows x 5 columns]

In [32]:
RIGHT_to_Final_City_Filtered_DF = pd.merge( Final_City_Filtered_DF ,avg_hp_df, 
how='right',
left_on=['Year','Month',"City_Region"],
right_on=['HousePrice_Year','HousePrice_Month',"HP_City_Region"])

print(RIGHT_to_Final_City_Filtered_DF)

     Year Month City_Region           Province NewHousePrice_Index_Type  \
0    2012    01    Montréal             Quebec   Total (house and land)
1    2012    01     Toronto            Ontario   Total (house and land)
2    2012    01   Vancouver   British Columbia   Total (house and land)
3    2012    02    Montréal             Quebec   Total (house and land)
4    2012    02     Toronto            Ontario   Total (house and land)
..    ...   ...         ...                ...                      ...
391  2022    11     Toronto            Ontario   Total (house and land)
392  2022    11   Vancouver   British Columbia   Total (house and land)
393  2022    12    Montréal             Quebec   Total (house and land)
394  2022    12     Toronto            Ontario   Total (house and land)
395  2022    12   Vancouver   British Columbia   Total (house and land)

                   UOM  VALUE STATUS  DECIMALS       DATE HousePrice_Year  \
0    Index, 201612=100   96.5    NaN         1 2012-01-01            2012
1    Index, 201612=100   82.4    NaN         1 2012-01-01            2012
2    Index, 201612=100   96.0    NaN         1 2012-01-01            2012
3    Index, 201612=100   96.6    NaN         1 2012-02-01            2012
4    Index, 201612=100   82.7    NaN         1 2012-02-01            2012
..                 ...    ...    ...       ...        ...             ...
391  Index, 201612=100  115.6    NaN         1 2022-11-01            2022
392  Index, 201612=100  128.2    NaN         1 2022-11-01            2022
393  Index, 201612=100  151.7    NaN         1 2022-12-01            2022
394  Index, 201612=100  115.6    NaN         1 2022-12-01            2022
395  Index, 201612=100  128.2    NaN         1 2022-12-01            2022

    HousePrice_Month Avg_HousePrice HP_City_Region
0                 01        420,950       Montréal
1                 01        420,950        Toronto
2                 01        660,600      Vancouver
3                 02        456,537       Montréal
4                 02        456,537        Toronto
..               ...            ...            ...
391               11        964,125        Toronto
392               11      1,131,600      Vancouver
393               12        939,125       Montréal
394               12        939,125        Toronto
395               12      1,114,300      Vancouver

[396 rows x 14 columns]

In [33]:
#SET UP the basepoints for the calculation with historical prices ...
#TEXT Concat notes if necessary #via URL => https://stackoverflow.com/questions/39291499/how-to-concatenate-multiple-column-values-into-a-single-column-in-pandas-datafra

#Create VARs to enable them to run against the cleaned data set ...

#Determine how to complete the analysis ... and fit into how they can be placed into slides.

#Confirm the types of "plots" ... we're confident in to speak to the story of the data analysis we're able to produce.
#Remember to comment that our $ costs are "approximations" ... due to needing the baseprice assumptions.

In [34]:
#Max + Min date columns created here for the "RIGHT" dataframe['DATE'] column ... 
right_max_date = RIGHT_to_Final_City_Filtered_DF['DATE'].max()
right_min_date = RIGHT_to_Final_City_Filtered_DF['DATE'].min()

#Establishes key variable for axis plotting on our INDEX and Avg_Price trend diagrams.
date_diff = RIGHT_to_Final_City_Filtered_DF['DATE'] - right_min_date

#Leverages the above calculation to transform the datapoint into Months rather than the literal Days.
date_diff_months = date_diff.dt.days // 30

print(date_diff_months)

0        0
1        0
2        0
3        1
4        1
      ...
391    131
392    131
393    132
394    132
395    132
Name: DATE, Length: 396, dtype: int64

In [35]:
#Firstly, Max + Min date columns created here for the "RIGHT" dataframe['DATE'] column ... 
RIGHT_to_Final_City_Filtered_DF['right_max_date'] = right_max_date
RIGHT_to_Final_City_Filtered_DF['right_min_date'] = right_min_date

#Secondly, another column for a DateDiff by MIN year to ['DATE'] column
RIGHT_to_Final_City_Filtered_DF['date_diff_months'] = date_diff_months + 1 #Confirms the DataSets "month of observation". Where #1 represents the month of 2012-01-01 where our RIGHT JOIN data set commences.

#Confirm that the data can successfully be observed within the Core Analysis_DF to enable our plotting.
RIGHT_to_Final_City_Filtered_DF

,Year,Month,City_Region,Province,NewHousePrice_Index_Type,UOM,VALUE,STATUS,DECIMALS,DATE,HousePrice_Year,HousePrice_Month,Avg_HousePrice,HP_City_Region,right_max_date,right_min_date,date_diff_months
0,2012,01,Montréal,Quebec,Total (house and land),"Index, 201612=100",96.5,NaN,1,2012-01-01,2012,01,"420,950",Montréal,2022-12-01,2012-01-01,1
1,2012,01,Toronto,Ontario,Total (house and land),"Index, 201612=100",82.4,NaN,1,2012-01-01,2012,01,"420,950",Toronto,2022-12-01,2012-01-01,1
2,2012,01,Vancouver,British Columbia,Total (house and land),"Index, 201612=100",96.0,NaN,1,2012-01-01,2012,01,"660,600",Vancouver,2022-12-01,2012-01-01,1
3,2012,02,Montréal,Quebec,Total (house and land),"Index, 201612=100",96.6,NaN,1,2012-02-01,2012,02,"456,537",Montréal,2022-12-01,2012-01-01,2
4,2012,02,Toronto,Ontario,Total (house and land),"Index, 201612=100",82.7,NaN,1,2012-02-01,2012,02,"456,537",Toronto,2022-12-01,2012-01-01,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391,2022,11,Toronto,Ontario,Total (house and land),"Index, 201612=100",115.6,NaN,1,2022-11-01,2022,11,"964,125",Toronto,2022-12-01,2012-01-01,132
392,2022,11,Vancouver,British Columbia,Total (house and land),"Index, 201612=100",128.2,NaN,1,2022-11-01,2022,11,"1,131,600",Vancouver,2022-12-01,2012-01-01,132
393,2022,12,Montréal,Quebec,Total (house and land),"Index, 201612=100",151.7,NaN,1,2022-12-01,2022,12,"939,125",Montréal,2022-12-01,2012-01-01,133
394,2022,12,Toronto,Ontario,Total (house and land),"Index, 201612=100",115.6,NaN,1,2022-12-01,2022,12,"939,125",Toronto,2022-12-01,2012-01-01,133
395,2022,12,Vancouver,British Columbia,Total (house and land),"Index, 201612=100",128.2,NaN,1,2022-12-01,2022,12,"1,114,300",Vancouver,2022-12-01,2012-01-01,133

In [36]:
# data = {
#     'City_region': ['RIGHT_to_Final_City_Filtered_DF'],
#     'Column1': [10, 25, 35, 50, 60, 75]
# }
# df = pd.DataFrame(data)
# grouped_df = df.groupby('City_region')

In [37]:
#Extract sample data to validate that the STATUS not in funciton above was successful.
Output_Folder = 'Output/'
Output_file = Output_Folder + 'HP_to_Final_City_Filtered_DF.csv'

# Save the combined data to a single CSV file
HP_to_Final_City_Filtered_DF.to_csv(Output_file, index=False, encoding='utf-8-sig') # ref for variation in export encoding https://stackoverflow.com/questions/57152985/what-is-the-difference-between-utf-8-and-utf-8-sig

In [38]:
#Extract sample data to validate that the STATUS not in funciton above was successful.
Output_Folder = 'Output/'
Output_file = Output_Folder + 'RIGHT_to_Final_City_Filtered_DF.csv'

# Save the combined data to a single CSV file
RIGHT_to_Final_City_Filtered_DF.to_csv(Output_file, index=False, encoding='utf-8-sig') # ref for variation in export encoding https://stackoverflow.com/questions/57152985/what-is-the-difference-between-utf-8-and-utf-8-sig

In [39]:
# #box and whisker plot

# # #Extract the 'VALUE' column for the histogram
# housing_price_index_values = TotalPriceIndex_Analysis_DF['VALUE']

# #Plot the histogram with 15 bins
# plt.hist(housing_price_index_values, bins=15, edgecolor='black')

# #Add labels and title
# plt.xlabel('New Housing Price Index')
# plt.ylabel('Frequency')
# plt.title('Histogram of New Housing Price Index with 15 Bins')

# #Display the histogram
# plt.show() 
# #--------------------------------------------------------------------

# #line plot
# # # Extract the 'Year' and 'VALUE' columns for the line plot
# years = TotalPriceIndex_Analysis_DF['Year']
# housing_price_index_values = TotalPriceIndex_Analysis_DF['VALUE']

# plt.figure(figsize=(16,8))

# # Plot the line plot
# plt.plot(years, housing_price_index_values, marker='o', linestyle='-')


# # # Add labels and title
# plt.xlabel('Year')
# plt.ylabel('New Housing Price Index')
# plt.title('Line Plot of New Housing Price Index Over Time')

# # Display the line plot
# plt.show()

# #--------------------------------------------------------------------
# # Extract the relevant columns for the bubble plot
# housing_price_index_values = TotalPriceIndex_Analysis_DF['VALUE']
# years = TotalPriceIndex_Analysis_DF['Year']
# demand_changes = covid_data['Demand_Changes']  # Replace 'Demand_Changes' with the actual column name

# # Calculate bubble sizes based on the demand_changes variable (you can use any other variable of interest)
# bubble_sizes = demand_changes * 100  # Adjust the multiplier to control bubble size

# # Create the bubble plot
# plt.figure(figsize=(10, 6))
# plt.scatter(years, housing_price_index_values, s=bubble_sizes, alpha=0.7, c='blue')

# # Add labels and title
# plt.xlabel('Year')
# plt.ylabel('New Housing Price Index')
# plt.title('Bubble Plot of New Housing Price Index Over Time with Demand Changes')

# # Display the bubble plot
# plt.show()