In [1]:
#dependencies
from pathlib import Path
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd

Main_csv_path = Path("Resources/18100205.csv")
Metadata_csv_path = Path("Resources/18100205_MetaData.csv")

Main_StatsCan_IndexDF = pd.read_csv(Main_csv_path, encoding="UTF-8-Sig")
Metadata_DF = pd.read_csv(Metadata_csv_path, encoding="UTF-8-Sig")

Main_StatsCan_IndexDF.tail()

,REF_DATE,GEO,DGUID,New housing price indexes,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
61075,2023-05,"Vancouver, British Columbia",2011S0503933,House only,"Index, 201612=100",347,units,0,v111955557,39.2,126.4,NaN,NaN,NaN,1
61076,2023-05,"Vancouver, British Columbia",2011S0503933,Land only,"Index, 201612=100",347,units,0,v111955558,39.3,121.0,E,NaN,NaN,1
61077,2023-05,"Victoria, British Columbia",2011S0503935,Total (house and land),"Index, 201612=100",347,units,0,v111955559,40.1,121.9,NaN,NaN,NaN,1
61078,2023-05,"Victoria, British Columbia",2011S0503935,House only,"Index, 201612=100",347,units,0,v111955560,40.2,127.9,NaN,NaN,NaN,1
61079,2023-05,"Victoria, British Columbia",2011S0503935,Land only,"Index, 201612=100",347,units,0,v111955561,40.3,110.6,E,NaN,NaN,1

In [2]:
Metadata_DF.head()

,Cube Title,Product Id,CANSIM Id,URL,Cube Notes,Archive Status,Frequency,Start Reference Period,End Reference Period,Total number of dimensions
"New housing price index, monthly",18100205,327-0056,https://www150.statcan.gc.ca/t1/tbl1/en/tv.act...,1;2;3;13;14,CURRENT - a cube available to the public and t...,Monthly,1981-01-01,2023-05-01,2.0,NaN
Dimension ID,Dimension name,Dimension Notes,Dimension Definitions,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Geography,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,New housing price indexes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dimension ID,Member Name,Classification Code,Member ID,Parent Member ID,Terminated,Member Notes,Member Definitions,NaN,NaN,NaN

In [3]:
# Select necessary columns for initial data cleaning processes.

reduced_main_df = Main_StatsCan_IndexDF[["REF_DATE","GEO","New housing price indexes","UOM","VALUE","STATUS","DECIMALS"]]		
#reduced_main_df.head()

reduced_main_df.columns.values[2] = "NewHousePrice_Index_Type" #Replaced column name of "New housing price indexes".

reduced_main_df.tail()

,REF_DATE,GEO,NewHousePrice_Index_Type,UOM,VALUE,STATUS,DECIMALS
61075,2023-05,"Vancouver, British Columbia",House only,"Index, 201612=100",126.4,NaN,1
61076,2023-05,"Vancouver, British Columbia",Land only,"Index, 201612=100",121.0,E,1
61077,2023-05,"Victoria, British Columbia",Total (house and land),"Index, 201612=100",121.9,NaN,1
61078,2023-05,"Victoria, British Columbia",House only,"Index, 201612=100",127.9,NaN,1
61079,2023-05,"Victoria, British Columbia",Land only,"Index, 201612=100",110.6,E,1

In [4]:
#import re
#print(re.split(r',',reduced_main_df["GEO"]))
Orig_Geo_series = pd.Series(reduced_main_df["GEO"])
#print(Orig_Geo_series)
Geo_Split = Orig_Geo_series.str.split(',')

Geo_CityRow = Geo_Split.str.get(0) #access the first element for eventual "column1"

Geo_CityRow

0                 Canada
1                 Canada
2                 Canada
3        Atlantic Region
4        Atlantic Region
              ...
61075          Vancouver
61076          Vancouver
61077           Victoria
61078           Victoria
61079           Victoria
Name: GEO, Length: 61080, dtype: object

In [5]:
Geo_ProvRow = Geo_Split.str.get(1) #access the first element for eventual "column2"

Geo_ProvRow

0                      NaN
1                      NaN
2                      NaN
3                      NaN
4                      NaN
               ...
61075     British Columbia
61076     British Columbia
61077     British Columbia
61078     British Columbia
61079     British Columbia
Name: GEO, Length: 61080, dtype: object

In [6]:
#Temp_DF = pd.concat(reduced_main_df,Geo_City )

Manual_Merge_Geo = pd.concat([Geo_CityRow,Geo_ProvRow], axis=1) #axis=1 is using "column 1" to merge.

Manual_Merge_Geo

#Rename Options presented via => https://www.geeksforgeeks.org/rename-specific-columns-in-pandas/
Manual_Merge_Geo.columns.values[0] = "City_Region"
Manual_Merge_Geo.columns.values[1] = "Province"

Manual_Merge_Geo

#BEST PRACTICE MIGHT BE TO RENAME RIGHT AWAY "HERE" ... to save coding time later.

           City_Region           Province
0               Canada                NaN
1               Canada                NaN
2               Canada                NaN
3      Atlantic Region                NaN
4      Atlantic Region                NaN
...                ...                ...
61075        Vancouver   British Columbia
61076        Vancouver   British Columbia
61077         Victoria   British Columbia
61078         Victoria   British Columbia
61079         Victoria   British Columbia

[61080 rows x 2 columns]

In [7]:
Orig_Year_series = pd.Series(reduced_main_df["REF_DATE"])
Year_Split = Orig_Year_series.str.split('-')

Row_Year = Year_Split.str.get(0) #access the first element for eventual "column1"

Row_Year

0        1981
1        1981
2        1981
3        1981
4        1981
         ...
61075    2023
61076    2023
61077    2023
61078    2023
61079    2023
Name: REF_DATE, Length: 61080, dtype: object

In [8]:
Row_Month = Year_Split.str.get(1) #access the first element for eventual "column1"

Row_Month

0        01
1        01
2        01
3        01
4        01
         ..
61075    05
61076    05
61077    05
61078    05
61079    05
Name: REF_DATE, Length: 61080, dtype: object

In [9]:
Manual_Merge_date = pd.concat([Row_Year,Row_Month], axis=1) #axis=1 is using "column 1" to merge.

Manual_Merge_date

#Rename Options presented via => https://www.geeksforgeeks.org/rename-specific-columns-in-pandas/
Manual_Merge_date.columns.values[0] = "Year"
Manual_Merge_date.columns.values[1] = "Month"

Manual_Merge_date
#BEST PRACTICE MIGHT BE TO RENAME RIGHT AWAY "HERE" ... to save coding time later.
#KEY REMINDER ... if we need the month to be transformed into "1" intstead of "01" (IE: INT from TEXT/VARCHAR) ... here is probably the best place as well.

       Year Month
0      1981    01
1      1981    01
2      1981    01
3      1981    01
4      1981    01
...     ...   ...
61075  2023    05
61076  2023    05
61077  2023    05
61078  2023    05
61079  2023    05

[61080 rows x 2 columns]

In [10]:
#via => https://appdividend.com/2020/06/02/pandas-concat-method-example-in-python/
#JOIN Split GEO Columns to Original DF

GeoUpdated_DF = pd.concat([reduced_main_df,Manual_Merge_Geo],axis=1,join='outer') # ,join_axes=None,ignore_index=False)

GeoUpdated_DF

#JOIN Split YEar+Month Columns to GeoUpdated_DF

DateUpdated_DF = pd.concat([GeoUpdated_DF,Manual_Merge_date],axis=1,join='outer')

DateUpdated_DF

,REF_DATE,GEO,NewHousePrice_Index_Type,UOM,VALUE,STATUS,DECIMALS,City_Region,Province,Year,Month
0,1981-01,Canada,Total (house and land),"Index, 201612=100",38.2,NaN,1,Canada,NaN,1981,01
1,1981-01,Canada,House only,"Index, 201612=100",36.1,NaN,1,Canada,NaN,1981,01
2,1981-01,Canada,Land only,"Index, 201612=100",40.6,E,1,Canada,NaN,1981,01
3,1981-01,Atlantic Region,Total (house and land),"Index, 201612=100",NaN,..,1,Atlantic Region,NaN,1981,01
4,1981-01,Atlantic Region,House only,"Index, 201612=100",NaN,..,1,Atlantic Region,NaN,1981,01
...,...,...,...,...,...,...,...,...,...,...,...
61075,2023-05,"Vancouver, British Columbia",House only,"Index, 201612=100",126.4,NaN,1,Vancouver,British Columbia,2023,05
61076,2023-05,"Vancouver, British Columbia",Land only,"Index, 201612=100",121.0,E,1,Vancouver,British Columbia,2023,05
61077,2023-05,"Victoria, British Columbia",Total (house and land),"Index, 201612=100",121.9,NaN,1,Victoria,British Columbia,2023,05
61078,2023-05,"Victoria, British Columbia",House only,"Index, 201612=100",127.9,NaN,1,Victoria,British Columbia,2023,05
61079,2023-05,"Victoria, British Columbia",Land only,"Index, 201612=100",110.6,E,1,Victoria,British Columbia,2023,05

In [11]:
#reduced_main_df = Main_StatsCan_IndexDF[["REF_DATE","GEO","New housing price indexes","UOM","VALUE","STATUS","DECIMALS"]]

Analysis_DF = DateUpdated_DF[["Year","Month","City_Region","Province","NewHousePrice_Index_Type","UOM","VALUE","STATUS","DECIMALS"]]

Analysis_DF

,Year,Month,City_Region,Province,NewHousePrice_Index_Type,UOM,VALUE,STATUS,DECIMALS
0,1981,01,Canada,NaN,Total (house and land),"Index, 201612=100",38.2,NaN,1
1,1981,01,Canada,NaN,House only,"Index, 201612=100",36.1,NaN,1
2,1981,01,Canada,NaN,Land only,"Index, 201612=100",40.6,E,1
3,1981,01,Atlantic Region,NaN,Total (house and land),"Index, 201612=100",NaN,..,1
4,1981,01,Atlantic Region,NaN,House only,"Index, 201612=100",NaN,..,1
...,...,...,...,...,...,...,...,...,...
61075,2023,05,Vancouver,British Columbia,House only,"Index, 201612=100",126.4,NaN,1
61076,2023,05,Vancouver,British Columbia,Land only,"Index, 201612=100",121.0,E,1
61077,2023,05,Victoria,British Columbia,Total (house and land),"Index, 201612=100",121.9,NaN,1
61078,2023,05,Victoria,British Columbia,House only,"Index, 201612=100",127.9,NaN,1
61079,2023,05,Victoria,British Columbia,Land only,"Index, 201612=100",110.6,E,1

In [12]:
#Remove "junk data" columns based on StatsCan Legend.

StatusClean_Analysis_DF = Analysis_DF.query("STATUS not in ['E', 'x', '..']") # QUERY fuction delivers to python "memory" a "true/false" outcome.
TotalPriceIndex_Analysis_DF = StatusClean_Analysis_DF.query("NewHousePrice_Index_Type not in ['House only','']")
#StatusClean_Analysis_DF

TotalPriceIndex_Analysis_DF

,Year,Month,City_Region,Province,NewHousePrice_Index_Type,UOM,VALUE,STATUS,DECIMALS
0,1981,01,Canada,NaN,Total (house and land),"Index, 201612=100",38.2,NaN,1
9,1981,01,St. John's,Newfoundland and Labrador,Total (house and land),"Index, 201612=100",36.1,NaN,1
27,1981,01,Saint John,Fredericton,Total (house and land),"Index, 201612=100",55.9,NaN,1
33,1981,01,Québec,Quebec,Total (house and land),"Index, 201612=100",30.1,NaN,1
42,1981,01,Montréal,Quebec,Total (house and land),"Index, 201612=100",28.5,NaN,1
...,...,...,...,...,...,...,...,...,...
61065,2023,05,Edmonton,Alberta,Total (house and land),"Index, 201612=100",108.2,NaN,1
61068,2023,05,British Columbia,NaN,Total (house and land),"Index, 201612=100",127.0,NaN,1
61071,2023,05,Kelowna,British Columbia,Total (house and land),"Index, 201612=100",123.8,NaN,1
61074,2023,05,Vancouver,British Columbia,Total (house and land),"Index, 201612=100",127.8,NaN,1
61077,2023,05,Victoria,British Columbia,Total (house and land),"Index, 201612=100",121.9,NaN,1

In [13]:
#Extract sample data to validate that the STATUS not in funciton above was successful.
Output_Folder = 'Output/'

Output_file = Output_Folder + 'Initial_Status_FilterApproach.csv'

TotalPriceIndex_Analysis_DF.to_csv(Output_file, index=True)

OSError: Cannot save file into a non-existent directory: 'Output'

In [ ]:
#2 Rename Options presented via => https://www.geeksforgeeks.org/rename-specific-columns-in-pandas/
#OPTION1
# renaming the columns
#df.rename({"Name": "Student Name", 
#           "Marks": "Marks Obtained", 
#           "Roll No": "Roll Number"}, 
#          axis = "columns", inplace = True)

#OPTION2
# using the same modified dataframe 
# df from Renaming Multiple Columns
# Renaming the third column
#df.columns.values[2] = "Roll Number"

#FIRST Need to transpose the DF col names to a list... using via => https://stackoverflow.com/questions/27129152/pandas-column-names-to-list#:~:text=Simple%20and%20easy%20way%3A%20df-dataframe%20variable%20name%20df.columns.to_list,give%20the%20list%20of%20the%20all%20columns%20name.

#ColName_DF = DateUpdated_DF.columns.get_value()

In [ ]:
#next step1 is to merge the 2 VARs to the reduced_main_df ... and then remove the original "GEO" column.
#next step2 is to use pinned screen to "filter" our results to only what we want from the "STATUS" column.
#STATUS column filters are as follows.. REMOVE the "..", "E" and "x".... (keep blanks - "NaN" values) ... 
#NEW HOUSING PRICE INDEX .... column to be "Total (house and land)" ... SO REMOVE "House only" & "Land only"

#ALSO ... complete the same for "Geo_City" .. etc ... for "year+month" ... from the "REF_DATE" column ...
#GEO column ... we will "focus on keeping" ... which will be "Toronto, Vancouver and Montreal" ... 

#RENAME the columns to stuff that "makes common sense" ... for our presenting needs (which is dependent on the base prices).

In [ ]:
#SET UP the basepoints for the calculation with historical prices ...
#Create VARs to enable them to run against the cleaned data set ...

#Determine how to complete the analysis ... and fit into how they can be placed into slides.

#Confirm the types of "plots" ... we're confident in to speak to the story of the data analysis we're able to produce.
#Remember to comment that our $ costs are "approximations" ... due to needing the baseprice assumptions.

In [ ]:
#Slides Notes:
#Maria is testing